<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.venkibellu.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".NotificationHandle"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".TokenRefreshapp">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".IntroductionScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogInPage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".AcademicActivity"
            android:label="Academics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".News"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Campus_Says"
            android:label="@string/title_activity_campus__says"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".NewHomePage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".about_us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".NewHomePage">
            <intent-filter>
                <action android:name="com.venkibellu.myapplication.about_us" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".associations"
            android:label="ASSOCIATIONS"
            android:parentActivityName=".NewHomePage"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.venkibellu.myapplication.associations" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".po"
            android:parentActivityName=".NewHomePage">
            <intent-filter>
                <action android:name="com.venkibellu.myapplication.po" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fests"
            android:parentActivityName=".NewHomePage">
            <intent-filter>
                <action android:name="com.venkibellu.myapplication.fests" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clubs"
            android:parentActivityName=".NewHomePage">
            <intent-filter>
                <action android:name="com.venkibellu.myapplication.clubs" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".g2c2"
            android:theme="@style/AppTheme"
            android:parentActivityName=".clubs">
            <intent-filter>
                <action android:name="com.venkibellu.myapplication.g2c2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vinimaya"
            android:parentActivityName=".clubs">>
            <intent-filter>
                <action android:name="com.venkibellu.myapplication.vinimaya" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sae"
            android:parentActivityName=".clubs">>
            <intent-filter>
                <action android:name="com.venkibellu.myapplication.sae" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chethana"
            android:parentActivityName=".clubs">>
            <intent-filter>
                <action android:name="com.venkibellu.myapplication.chethana" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".thatva"
            android:parentActivityName=".clubs">>
            <intent-filter>
                <action android:name="com.venkibellu.myapplication.thatva" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chakravyuha"
            android:parentActivityName=".clubs">>
            <intent-filter>
                <action android:name="com.venkibellu.myapplication.chakravyuha" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sports"
            android:parentActivityName=".clubs">
            <intent-filter>
                <action android:name="com.venkibellu.myapplication.sports" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ncc"
            android:parentActivityName=".clubs">
            <intent-filter>
                <action android:name="com.venkibellu.myapplication.ncc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gb_ram"
            android:parentActivityName=".clubs">
            <intent-filter>
                <action android:name="com.venkibellu.myapplication.gb_ram" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".developers"
            android:parentActivityName=".NewHomePage">
            <intent-filter>
                <action android:name="com.venkibellu.myapplication.developers" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".News_Adding"
            android:label="@string/title_activity_news__adding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Campus_Adding"
            android:label="@string/title_activity_campus__adding"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>